<monthly><event><id>1</id><name>Sample Meeting</name><startdate>2016-10-27</startdate><enddate>2016-10-27</enddate><starttime>09:00:00</starttime><endtime>09:00:00</endtime><color>#4caf50</color><url></url></event><event><id>2</id><name>announcement</name><startdate>2016-10-27</startdate><enddate>2016-10-27</enddate><starttime>10:00:00</starttime><endtime>10:00:00</endtime><color>#26c6da</color><url></url></event></monthly>